nav {
  display: flex;
  color: #FFFFFF;
  background-color: #405681;
  height: 120px;
  width: 100%;
  padding: 1em 1.5em 0.1em 1.5em;
  justify-content: space-between;
  z-index: 9999;
  position: fixed;
}

.tweeter {
  font-family: 'Bungee', cursive;
  display: flex;
  align-items: center;
  font-size: 40px;
}

.right-nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fa-solid.fa-angles-down {
  color: #df3f2d;
}

@media (max-width: 1024.5px) {
  nav {
    display: flex;
    color: #FFFFFF;
    background-color: #FD9718;
    background-image: url(https://www.transparenttextures.com/patterns/arches.png);
    height: 120px;
    width: 100%;
    padding: 1em 1.5em 0.1em 1.5em;
    justify-content: space-between;
    z-index: 9999;
    position: fixed;
  }
}
