.new-tweet {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-items: flex-start;
  margin: 0px 0px 50px 0px;
}

.tweet-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

#tweet-text {
  display: flex;
  width: 100%;
  font-weight: 600;
  color: #545149;
  border: none;
  background-color: #f4f1ec;
  border-bottom: 4px solid #545149;
  height: 2em;
}

.button-counter {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 10px 0px 10px 0px;
  font-size: 25px;
}

.tweet-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-family: 'Bungee', cursive;
  color: #FFFFFF;
  background-color: #405681;
  border: none;
  padding: 5px 10px;
}

.counter {
  display: flex;
  justify-content: flex-end;
  font-family: 'Bungee', cursive;
  padding: 5px 10px;
}

.red {
  color: #df3f2d;
}

.error-styling {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: 0.2rem solid #df3f2d;   
  color: #df3f2d;
  width: 100%;
  padding: 0.5rem;
  margin: 0rem 0rem 2rem 0rem;
  font-weight: 600;
}

.fa-solid.fa-circle-exclamation {
  display: flex;
  color: #df3f2d;
  padding: 1rem 1rem;
}

.error-text-content {
  padding: 1rem 0.5rem;
}