#tweets-container {
  width: 100%;
}

.tweet {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #545149;
  border: 4px solid #545149;
  background-color: #f4f1ec;
  padding: 20px 10px 20px 10px;
  margin: 20px 0px;
}

.tweet:hover {
  box-shadow: 10px 10px 5px #BFC5D9;
}

.tweet header {
  display: flex;
  justify-content: space-between;
  height: 3em;
  align-items: center;
  padding: 0px 10px;
  margin-bottom: 10px;
}

.lefthand {
  display:flex;
  justify-content: flex-start;
  align-items: center;
}

.avatar {
  display: flex;
  padding: 0px 10px 0px 0px;
}

.handle {
  display: flex;
  justify-content: flex-end;
  color: #BFC5D9;
  font-weight: 600;
}

.tweet article {
  display:flex;
  align-content: center;
  padding: 25px 20px 35px 20px;
  font-size: 25px;
  font-weight: 600;
  text-align: left;
}

.tweet footer {
  display: flex;
  border-top: 4px solid #545149;
  padding: 20px 10px 0px 20px;
  font-size: 15px;
  justify-content: space-between;
}

i:hover {
  color: #FD9718;
}
